[Unit]
Description=Timer for BackUP.sh (everyday)
Documentation=

[Timer]
Unit=test-backup-day.service
OnCalendar=*-*-* 02:00:00

[Install]
WantedBy=test-backup.target
